<div class="wrapper">
    <!-- Navbar-->
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <!-- Main content starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="main-header">
                    <h3>Paramètres</h3>
                </div>
            </div>
            <!-- 4-blocks row start -->

            <!-- 4-blocks row end -->
            <!-- 2-1 block start -->
            <div class="row">
                <!-- Multiple Open Accordion start -->
                <div class="col-lg-5 col-md-5 col-sm-3">
                    <div class="card">
                        <div class="card-block accordion-block">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingOne">
                                        <h3 class="card-title accordion-title">
                                            <a routerLink="pwd" class="accordion-msg scale_active">
                                                Changer votre mot de passe
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <!-- <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingTwo">
                                        <h3 class="card-title accordion-title">
                                            <a routerLink="email" class="accordion-msg scale_active">
                                                Modifier votre adresse e-mail
                                            </a>
                                        </h3>
                                    </div>
                                </div> -->
                                <div class="accordion-panel" *ngIf="noEmail">
                                    <div class="accordion-heading" role="tab" id="headingTwo">
                                        <h3 class="card-title accordion-title">
                                            <a routerLink="add-email" class="accordion-msg scale_active">
                                                Ajouter une adresse e-mail
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main content ends -->
    </div>
</div>