<div class="wrapper">
   <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid" style="height: 700px;">
           <div class="row">
               <div class="main-header">
                  <h3>Commande de chéquier</h3>
               </div>
            </div>
            <form>
             <!-- Form Control starts -->
             <div class="row">
               <div class="col-lg-11">
                  <div class="card">
                     <div class="card-header" style="background-color: #ebeff258;">
                        <h5>Effectuer une commande de chéquier</h5>
                     </div>
                     <div class="card-block">
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Choisir le compte correspondant :</label></div>
                           <div class="col-md-3">                        
                              <select class="form-control">
                                 <option>DAV Riana</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
             <div class="row">
               <div class="col-lg-11">
                  <div class="card">
                     <div class="card-block">
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Type de chéquier :</label></div>
                           <div class="col-md-3">                        
                              <select class="form-control form-control-sm">
                                 <option>Ordinaire</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Type de carnet :</label></div>
                           <div class="col-md-3">                        
                              <select class="form-control form-control-sm">
                                 <option>50 pages</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label for="InputNormal" class="form-control-label">Moyen de livraison<span style="color: red;">*</span> :</label></div>
                           <div class="col-md-3">                        
                              <select class="form-control form-control-sm">
                                 <option>Récuperation à l'agence</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label for="InputNormal" class="form-control-label">Agence de récupération<span style="color: red;">*</span> :</label></div>
                           <div class="col-md-3">                        
                              <select class="form-control form-control-sm">
                                 <option>Agence 10001</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
            </form>
            <div class="row">
               <div class="col-lg-11">
                <div class="form-group row justify-content-end">
                  <div class="col-md-6">
                    <button type="submit" style="margin-right: 10px;" class="btn btn-success">Continuer</button>
                    <button type="submit" class="btn btn-inverse-default">Annuler</button>
                  </div>
               </div>
             </div>
            </div>
          </div>
       </div>
    </div>