<header class="main-header-top hidden-print">
    <a routerLink="/dashboard" class="logo" style="font-size:0.65cm;">
       <span>
          <img src="assets/images/orchid.ico" alt="">
       </span>
       <strong> orchid</strong>
    </a>
    <nav class="navbar navbar-static-top">
       <!-- Sidebar toggle button-->
       <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
          <ul class="top-nav rgt-nav">
             <li>
                <a (click)="logout()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                   Déconnexion
                </a>
             </li>
          </ul>
          <ul class="top-nav rgt-nav">
             <li>
                <a routerLink="settings" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle drop-image">
                   <i class="ti-settings"></i>
                </a>
             </li> 
          </ul>
    </nav>
 </header>