<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid" style="height: 700px;">
       <div class="row">
          <div class="col-sm-12 p-0">
             <div class="main-header" style="margin-top: 0px;">
                <h4>Demande de chéquier</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                   <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                   </li>
                   <li class="breadcrumb-item"><a href="#">Chéquier</a>
                   </li>
                   <li class="breadcrumb-item"><a href="form-elements-bootstrap.html">Externe</a>
                   </li>
                </ol>
             </div>
          </div>
       </div>
       <form action="">
       <div class="row">
          <!-- Form Control starts -->
          <div class="col-lg-6">
             <div class="card">
                <div class="card-header" style="background-color: #ebeff258;">
                   <h5 style="float: left;">Le compte concerné</h5>
                </div>
                <div class="card-block">
                      <div class="form-group">
                         <h6>Choisir le compte correspondant <span style="color: red;">*</span> </h6>
                         <select class="form-control " id="exampleSelect1">
                           <option *ngFor="let compte of comptes">{{compte.cpt_vcode}} - {{compte.cpt_vlib}}
                           </option>
                         </select>
                      </div>
                      <div class="form-group">
                        <h6>Moyen de livraison<span style="color: red;">*</span> </h6>
                        <select class="form-control" [(ngModel)]="selectedMoyenLivraison" [ngModelOptions]="{standalone: true}" (change)="changeMoyenLivraison()">
                          <option value="1">Récuperation</option>
                          <option value="2">Livraison</option>
                        </select>
                     </div>
                     <div class="form-group" *ngIf="recuperation">
                        <h6>Agence de récupération<span style="color: red;">*</span> </h6>
                        <select class="form-control ">
                        <option *ngFor="let agence of agences">{{agence.agenceCode}} - {{agence.agenceNom}}</option>
                        </select>
                     </div>
                     <ng-container *ngIf="livraison">
                        <div class="form-group">
                           <h6>Adresse de livraison<span style="color: red;">*</span></h6>
                           <input type="number" class="form-control" placeholder="Ex: 100 000">
                        </div>
                        <div class="form-group">
                           <h6>Quartier de livraison<span style="color: red;">*</span></h6>
                           <input type="text" class="form-control" placeholder="Ex: 100 000">
                        </div>
                        <div class="form-group">
                           <h6>Commune de livraison<span style="color: red;">*</span></h6>
                           <input type="text" class="form-control" placeholder="Ex: 100 000">
                        </div>
                     </ng-container>
                </div>
             </div>
          </div>
          <!-- Form Control ends -->
          <!-- Textual inputs starts -->
          <div class="col-lg-6">
             <div class="card">
                <div class="card-header" style="background-color: #ebeff258;">
                   <h5>Les chéquiers</h5>
                </div>
                <!-- end of modal -->
                <div class="card-block">
                      <div class="form-group">
                         <h6>Type de carnets<span style="color: red;">*</span></h6>
                         <select class="form-control ">
                           <option *ngFor="let typeCarnet of typesCarnet">{{typeCarnet.car_vlibelle}} pages</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <h6>Type chequier<span style="color: red;">*</span> </h6>
                        <select class="form-control ">
                           <option *ngFor="let typeChequier of typesChequier">{{typeChequier.chq_vlibelle}}</option>
                        </select>
                     </div>
                </div>
             </div>
             <button type="submit" class="btn btn-success waves-effect waves-light m-r-30">Valider</button>
          </div>
          <!-- Textual inputs ends -->
       </div>
       </form>
    </div>
 </div>
 <!-- Main content ends -->