<div class="wrapper">
   <!-- Navbar-->
   <div class="content-wrapper">
      <!-- Container-fluid starts -->
      <!-- Main content starts -->
      <div class="container-fluid">
         <div class="row">
            <div class="main-header">
               <ng-container *ngIf="isEmailWarningVisible">
                  <p><span style="color:red">Risque de sécurité:</span>
                     Pour renforcer votre sécurité, il est recommandé d'ajouter une adresse email.
                     <a routerLink="/settings" class="addEmailLink">
                        <p>Cliquer ici pour ajouter une adresse email</p>
                     </a><br />
               </ng-container>
               <h3>Tableau de bord</h3>
            </div>
         </div>
         <!-- 4-blocks row start -->
         <div class="row dashboard-header">
            <div class="col-lg-3 col-md-6" *ngIf="isLoading">
               <div class="card solde-card">
                  <span><small>Chargement ...</small></span>

                  <h2 class="dashboard-total-products">Chargement ... </h2>
                  <span class="label label-warning">Dépot à vue</span>
                  <div class="side-box">
                     <i></i>
                  </div>
               </div>
            </div>
            <div *ngFor="let compte of comptes" class="col-lg-3 col-md-6">
               <div class="card solde-card">
                  <!-- <span *ngIf="isHidden"><small>{{compte.banque_vcode}} {{compte.branche_vcode}} {{compte.cpt_vcode | slice:0:4}}******* **</small></span>  -->
                  <small><strong>Compte N° </strong></small>
                  <span><small>{{compte.banque_vcode}} {{compte.branche_vcode}} {{compte.cpt_vcode}}
                        {{compte.cpt_vclerib}}</small></span>
                  <!-- <span style="float:right" class="ti ti-eye" (click)="toggleHiddenSolde"></span> -->

                  <h2 class="dashboard-total-products">{{transform(compte.cpt_fsolde)}} <span><small>Ar</small></span>
                  </h2>
                  <ng-container [ngSwitch]="compte.cpt_vtype">
                     <span *ngSwitchCase="1" class="label label-warning">Dépot à vue</span>
                     <span *ngSwitchCase="2" class="label label-primary">Epargne</span>
                  </ng-container><br />
                  <small>Dernière mise à jour: {{compte.updated_at}}</small>
                  <div class="side-box">
                     <i [ngClass]="{'': compte.cpt_vtype === 1, 'text-primary-color': compte.cpt_vtype === 2}"
                        [class.text-warning-color]="compte.cpt_vtype === 1"></i>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6">
               <div class="card solde-card">
                  <span>Revenu du mois</span>
                  <h2 class="dashboard-total-products" *ngIf="isLoading"><span>Chargement...</span></h2>
                  <h2 class="dashboard-total-products" *ngIf="!isLoading"> <span>{{transform(revenusDuMois)}}
                        <small>Ar</small></span></h2>
                  <span class="label label-success">Détails</span>
                  <div class="side-box">
                     <i class="ti-stats-up text-success-color"></i>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6">
               <div class="card solde-card">
                  <span>Dépense du mois</span>
                  <h2 class="dashboard-total-products" *ngIf="isLoading"><span>Chargement...</span></h2>
                  <h2 class="dashboard-total-products" *ngIf="!isLoading"><span>{{transform(depensesDuMois)}}
                        <small>Ar</small></span></h2>
                  <span class="label label-danger">Détails</span>
                  <div class="side-box">
                     <i class="ti-stats-down text-danger-color"></i>
                  </div>
               </div>
            </div>
         </div>
         <!-- 4-blocks row end -->
         <!-- 2-1 block start -->
         <div class="row">
            <!-- Line Chart start -->
            <div class="col-lg-3 col-md-8 col-sm-6 col-xl-5">
               <div class="card">
                  <div class="card-header">
                     <h5 class="card-header-text">Graphique</h5>
                  </div>
                  <div class="card-block">
                     <h2 class="dashboard-total-products" *ngIf="isLoading"><span>Chargement...</span></h2>
                     <canvas id="canvas">{{ chart }}</canvas>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="main-header">
               <h5>Dernières transactions</h5>
            </div>
         </div>
         <div class="row col-xl-5 col-md-5 col-sm-12" style="margin-bottom: 20px;">
            <select class="form-control select-cpt" id="exampleSelect1" [(ngModel)]="selectedCompte"
               (change)="onSelectChange($event)">
               <option *ngFor="let compte of comptes" [value]="compte.cpt_vcode">
                  <ng-container *ngIf="comptes.length>0">
                     {{compte.cpt_vtype == 1 ? 'DAV' : 'EPR'}} |
                     {{compte.banque_vcode}} {{compte.branche_vcode}} {{compte.cpt_vcode}}
                     {{compte.cpt_vclerib}}
                  </ng-container>
               </option>
            </select>
         </div>
         <div class="row">
            <div class="col-md-5 col-xl-12 col-lg-12">
               <div class="card">
                  <div class="card-block">
                     <div class="table-responsive">
                        <table class="table table-hover">
                           <thead>
                              <tr class="text-uppercase">
                                 <th>N°</th>
                                 <th>Date</th>
                                 <th>Type</th>
                                 <th>Montant</th>
                                 <th>Description</th>
                                 <th>Status</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let trans of transRecentes">
                                 <td>{{trans.trans_iid}}</td>
                                 <td>{{trans.trans_ddate | dateToFrench}}</td>
                                 <td>{{trans.typetrans_vlibelle}}</td>
                                 <td [style]="trans.trans_vmontant<0? 'color:#971b1b' : 'none' ">
                                    {{transform(trans.trans_vmontant)}} Ar</td>
                                 <td>{{trans.trans_vdescript}}</td>
                                 <td *ngIf="trans.trans_vstatus === 'Valid'" style="color: green;">Validé</td>
                                 <td *ngIf="trans.trans_vstatus === 'Invalid'" style="color: red;">Non validé</td>
                                 <td *ngIf="trans.trans_vstatus === 'Pending'">En attente</td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- 2-1 block end -->
      </div>
      <!-- Main content ends -->
   </div>
</div>