<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid">
       <div class="row">
          <div class="main-header">
             <h4>Mes comptes</h4>
             <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
               <li class="breadcrumb-item">
                  <a href="index.html">
                     <i class="ti-user"></i>
                  </a>
               </li>
               <li class="breadcrumb-item"><a href="#">Mes comptes</a>
               </li>
            </ol>
          </div>
       </div>
       <!-- 4-blocks row start -->
       <div class="row dashboard-header">
         <div class="col-lg-12 col-md-6">
            <div class="card dashboard-product" >
               <span>Dépot à vue</span>
               <h2 class="dashboard-total-products">120 000<span> Ar</span></h2>
               <small>Solde au 16/01/22</small> <br/>
               <span class="label label-default">DAV Cassim Marie</span> <br/>
               <span class="label label-default">Numéro:</span>{{'****'+'0304099911'.slice(4,11)}} 
               <span><small>Afficher</small></span>
               <div class="side-box">
                  <i class="ti-money text-success-color"></i>
               </div>
               <span class="label label-success" style="float:right">Télécharger RIB</span>
            </div>
         </div>
       </div>
       <div class="row dashboard-header">
         <div class="col-lg-12 col-md-6">
            <div class="card dashboard-product" >
               <span>Epargne</span>
               <h2 class="dashboard-total-products">120 000<span> Ar</span></h2>
               <small>Solde au 16/01/22</small> <br/>
               <span class="label label-default">DAV Cassim Marie</span> <br/>
               <span class="label label-default">Numéro:</span>{{'****'+'0304099911'.slice(4,11)}} 
               <span><small>Afficher</small></span>
               <div class="side-box">
                  <i class="ti-money text-success-color"></i>
               </div>
               <span class="label label-success" style="float:right">Télécharger RIB</span>
            </div>
         </div>
       </div>
    </div>
    <!-- Main content ends -->
 </div>