<aside class="main-sidebar hidden-print ">
    <section class="sidebar" id="sidebar-scroll">
       <!-- Sidebar Menu-->
       <ul class="sidebar-menu">
          <li class="nav-level"></li>
          <li class="treeview">
             <a class="waves-effect waves-dark" href="#!" style="font-weight:bold;text-align: center;">
                <i class="ti-dashboard"></i><br />
                <span>Mes comptes</span>
                <i class="icon-arrow-down"></i>
             </a>
             <ul class="treeview-menu">
                <li><a class="waves-effect waves-dark" routerLink="dashboard">Tableau de bord</a></li>
                <li><a class="waves-effect waves-dark" routerLink="gestion-comptes">Gérer mes comptes</a></li>
                <li><a class="waves-effect waves-dark" routerLink="releve">Relevés de compte</a></li>
             </ul>
          </li>
          <li class="nav-level"></li>
          <li class="treeview">
             <a class="waves-effect waves-dark" href="#!" style="font-weight:bold;text-align: center;">
                <i class="ti-exchange-vertical"></i><br />
                <span>Virements</span>
                <i class="icon-arrow-down"></i>
             </a>
             <ul class="treeview-menu">
                <!-- <li><a class="waves-effect waves-dark" href="#"> Interne</a></li> -->
                <li><a class="waves-effect waves-dark" routerLink="virement-nouveau">Virement</a></li>
                <li><a class="waves-effect waves-dark" routerLink="virements">Virements effectués</a></li>
             </ul>
          </li>
          <li class="nav-level"></li>
          <li class="treeview">
             <a class="waves-effect waves-dark" href="#!" style="font-weight:bold;text-align: center;">
                <i class="ti-receipt"></i><br />
                <span>Chéquiers</span>
                <i class="icon-arrow-down"></i>
             </a>
             <ul class="treeview-menu">
                <li><a class="waves-effect waves-dark" routerLink="chequier-demande"> Nouvelle demande</a></li>
                <li><a class="waves-effect waves-dark" routerLink="chequier-demande-liste"> Demandes effectuées</a></li>
             </ul>
          </li>
          <li class="nav-level"></li>
 
          <li class="treeview">
             <a class="waves-effect waves-dark" href="#!" style="font-weight:bold;text-align: center;">
                <i class="ti-na"></i><br />
                <span>Oppositions</span>
                <i class="icon-arrow-down"></i>
             </a>
             <ul class="treeview-menu">
                <li><a class="waves-effect waves-dark" routerLink="opposition-nouveau"> Nouvelle opposition</a></li>
                <li><a class="waves-effect waves-dark" routerLink="oppositions"> Oppositions effectuées</a></li>
             </ul>
          </li>
          <li class="nav-level"></li>
 
          <li class="treeview">
             <a class="waves-effect waves-dark" href="#!" style="font-weight:bold;text-align: center;">
                <i class="ti-user"></i><br />
                <span>Bénéficiaires</span>
                <i class="icon-arrow-down"></i>
             </a>
             <ul class="treeview-menu">
                <li><a class="waves-effect waves-dark" routerLink="beneficiaires"> Mes bénéficiaires</a></li>
                <li><a class="waves-effect waves-dark" routerLink="beneficiaire-nouveau"> Nouveau bénéficiaire</a></li>
             </ul>
          </li>
          <li class="nav-level"></li>
 
          <li class="treeview" style="bottom: 0;">
             <a class="waves-effect waves-dark" href="#!" style="font-weight:bold;text-align: center;">
                <i class="ti-pencil"></i><br />
                <span>Contact</span>
             </a>
          </li>
          <li class="nav-level"></li>
 
       </ul>
    </section>
 </aside>