<div class="wrapper">
    <!-- Navbar-->
    <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid">
          <div class="row">
             <div class="main-header">
                <h3>Virements permanents effectuées</h3>
             </div>
          </div>

          <div class="row">
             <div class="main-header">
                <h5>Dernières transactions</h5>
             </div>
          </div>
          <div class="row col-xl-3 col-md-6 col-sm-4">
            <select class="form-control select-cpt" id="exampleSelect1">
               <option>DAV Riana Rahajary</option> 
           </select>
          </div>

          <div class="row">
             <div class="col-xl-12 col-lg-12 col-sm-12"> 
                <div class="card">
                   <div class="card-block">
                      <div class="table-responsive">
                         <table class="table table-hover">
                            <thead>
                               <tr>
                                  <th>N°</th>
                                  <th>Sender</th>
                                  <th>Receiver</th>
                                  <th>Montant</th>
                                  <th>Description</th>
                                  <th>Frequence</th>
                                  <th>Début</th>
                                  <th>Fin</th>
                                  <th>Dernière execution</th>
                                  <th>Prochaine execution</th>
                                  <th>Action</th>
                               </tr>
                            </thead>
                            <tbody *ngIf="virementsPermanents">
                                <tr *ngFor="let vp of virementsPermanents; let i = index">
                                    <td>{{vp.virper_iid}}</td>
                                    <td>{{vp.sender_banque_vcode}} {{vp.sender_branche_vcode}} {{vp.sender_vnumcpt}} {{vp.sender_vclerib}}</td>
                                    <td>{{vp.receiver_banque_vcode}} {{vp.receiver_branche_vcode}} {{vp.receiver_vnumcpt}} {{vp.receiver_vclerib}}</td>
                                    <td>{{vp.montant}}</td>
                                    <td>{{vp.virper_vdescript}}</td>
                                    <td>{{vp.frequency}}</td>
                                    <td *ngIf="selectedRowIndex !== i ">{{ vp.debut | dateToFrench }}</td>
                                    <td *ngIf="selectedRowIndex !== i ">{{ vp.fin | dateToFrench }}</td>
                                    <td *ngIf="selectedRowIndex === i && isEdited">
                                       <input type="date" class="form-control">
                                    </td>
                                    <td *ngIf="selectedRowIndex === i && isEdited">
                                       <input type="date" class="form-control">
                                    </td>
                                    <td>
                                       <button class="btn btn-primary" (click)="onEdit(i)">Edit</button>
                                       <button class="btn btn-danger" (click)="onDelete(vp.virper_iid)">Delete</button>
                                    </td>
                                </tr>
                                <tr *ngIf="isLoading">
                                    <td><h6>Chargement ...</h6></td>
                                </tr>
                                <tr *ngIf="isEmpty">
                                 <td><h6>Aucune donnée</h6></td>
                                 </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- 2-1 block end -->
       </div>
       <!-- Main content ends -->
    </div>
 </div>