<div class="wrapper">
    <!-- Navbar-->
    <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid">
          <div class="row">
             <div class="main-header">
                <h3>Virements permanents effectuées</h3>
             </div>
          </div>

          <div class="row">
             <div class="main-header">
                <h5>Dernières transactions</h5>
             </div>
          </div>
          <div class="row col-xl-3 col-md-6 col-sm-4">
            <select class="form-control select-cpt" id="exampleSelect1">
               <option>DAV Riana Rahajary</option>
               <option>EPR Riana Rahajary</option>
           </select>
          </div>
          <div class="col-lg-9 col-md-8 col-sm-10"> 
            <form>
               <div class="row">
                 <div class="col-lg-9 col-md-8">
                  <div class="form-group row">
                     <div class="col-md-1"><label for="InputNormal" class="form-control-label">Entre:</label></div>
                     <div class="col-md-3">                        
                        <input type="date" class="form-control form-control-sm" placeholder="00000">
                     </div>
                     <div class="col-md-1"><label for="InputNormal" class="form-control-label">Et:</label></div>
                     <div class="col-md-3">                        
                        <input type="date" class="form-control form-control-sm" placeholder="00000">
                     </div>
                     <div class="col-md-2">
                     <button type="submit" class="btn btn-success">Rechercher</button>
                     </div>
                    </div>
   
                 </div>
              </div>
              </form>
          </div>

          <div class="row">
             <div class="col-xl-12 col-lg-12 col-sm-12"> 
                <div class="card">
                    <div class="card-header" style="background-color: #ebeff258;">
                        <h6>Interval </h6>
                     </div>
                   <div class="card-block">
                      <div class="table-responsive">
                         <table class="table table-hover">
                            <thead>
                               <tr>
                                  <th>N°</th>
                                  <th>Sender</th>
                                  <th>Receiver</th>
                                  <th>Montant</th>
                                  <th>Description</th>
                                  <th>Frequence</th>
                                  <th>Début</th>
                                  <th>Fin</th>
                                  <th>Dernière execution</th>
                                  <th>Prochaine execution</th>
                                  <th>Action</th>
                               </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let vp of virementsPermanents">
                                    <td>{{vp.virper_iid}}</td>
                                    <td>{{vp.sender_banque_vcode}} {{vp.sender_branche_vcode}} {{vp.sender_vnumcpt}} {{vp.sender_vclerib}}</td>
                                    <td>{{vp.receiver_banque_vcode}} {{vp.receiver_branche_vcode}} {{vp.receiver_vnumcpt}} {{vp.receiver_vclerib}}</td>
                                    <td>{{vp.montant}}</td>
                                    <td>{{vp.virper_vdescript}}</td>
                                    <td>{{vp.frequency}}</td>
                                    <td>{{vp.debut | dateToFrench}}</td>
                                    <td>{{vp.fin | dateToFrench}}</td>
                                    <td>{{vp.last_execution_date | dateToFrench}} </td>
                                    <td>{{vp.next_execution_date | dateToFrench}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- 2-1 block end -->
       </div>
       <!-- Main content ends -->
    </div>
 </div>