<div class="wrapper">
   <!-- Navbar-->
   <div class="content-wrapper">
      <!-- Container-fluid starts -->
      <!-- Main content starts -->
      <div class="container-fluid">
         <div class="row">
            <div class="main-header">
               <h3>Mes bénéficiaires</h3>
            </div>
         </div>
         <div class="col-lg-10 col-md-8 col-sm-10"> 
            <form [formGroup]="searchForm">
               <div class="row">
                 <div class="col-lg-9 col-md-8">
                  <div class="form-group row" style="float: right;">
                     <div class="col-md-8">                        
                        <input formControlName="searchField" type="text" class="form-control" placeholder="Recherche">
                     </div>
                     <div class="col-md-2">
                        <button type="submit" class="btn btn-success" (click)="searchBeneficiaire()">Rechercher</button>
                     </div>
                    </div>
                 </div>
              </div>
              </form>
          </div>
         <div class="row">
            <div class="col-xl-12 col-lg-12">
               <div class="card">
                  <div class="card-block">
                     <div class="table-responsive">
                        <table class="table table-hover">
                           <thead>
                              <tr class="text-uppercase">
                                 <th>Date création<span><i class="ti-arrows-vertical"
                                          (click)="toggleReverse()"></i></span></th>
                                 <th>Nom</th>
                                 <th>N compte</th>
                                 <th>Statut</th>
                                 <th>Action</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let beneficiaire of filteredBeneficiaires; let i = index;">
                                 <!-- <td>{{beneficiaire.ben_iid}}</td> -->
                                 <td>{{beneficiaire.created_at | dateToFrench}}</td>
                                 <td>{{beneficiaire.ben_vnom}} {{beneficiaire.ben_vprenom}}</td>
                                 <td>{{beneficiaire.banque_vcode}} - {{beneficiaire.branche_vcode}} -
                                    {{beneficiaire.ben_vnumcpt}} - {{beneficiaire.ben_vclerib}}</td>
                                 <td *ngIf="beneficiaire.ben_vstatus === 'Active'" style="color: green;">Actif</td>
                                 <td *ngIf="beneficiaire.ben_vstatus === 'Inactive'" style="color: red;">Inactif</td>
                                 <td *ngIf="beneficiaire.ben_vstatus === 'Pending'">En attente</td>
                                 <td *ngIf="selectedRowIndex !== i">
                                    <button (click)="toggleConfirm(i)" class="btn btn">
                                       <span class="ti-trash"></span>
                                    </button>
                                    <td *ngIf="selectedRowIndex === i">
                                       <button (click)="cancel()" class="btn btn-primary">
                                          <span class="ti ti-back-left"></span>
                                       </button><br/><br/>
                                       <button (click)="confirmDelete(beneficiaire.ben_iid)" class="btn btn-danger">
                                          <span class="ti ti-trash"></span>
                                       </button>
                                    </td>
                              </tr>
                              <tr *ngIf="isLoading">
                                 <td>
                                    <h6>Chargement ...</h6>
                                 </td>
                              </tr>
                              <tr *ngIf="isEmpty">
                                 <td>
                                    <h6>Aucune donnée</h6>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- 2-1 block end -->
      </div>
      <!-- Main content ends -->
   </div>
</div>