<div class="wrapper">
    <!-- Navbar-->
    <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid">
          <div class="row">
             <div class="main-header">
                <h3>Historique d'opposition chéquier</h3>
             </div>
          </div>
          <div class="row col-xl-4 col-md-12 col-sm-12" style="margin-bottom: 20px;">
            <select class="form-control select-cpt" id="exampleSelect1">
               <option>DAV</option>
           </select>
          </div>
          <div class="row">
             <div class="col-xl-12 col-lg-12">
                <div class="card">
                   <div class="card-block">
                      <div class="table-responsive">
                         <table class="table table-hover">
                            <thead>
                               <tr class="text-uppercase">
                                  <th>N° Opposition</th>
                                  <th>Date  <span><i class="ti-arrows-vertical" (click)="toggleReverse()"></i></span></th>
                                  <th>Type de chéquier</th>
                                  <th>N° opposition début</th>
                                  <th>N° opposition fin</th>
                                  <th>Montant</th>
                                  <th>Motif</th>
                                  <th>Statut</th>
                                  <th>Action</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let opp of oppositionsChequier;let i = index">
                                  <td>{{opp.oppchq_iid}}</td>
                                  <td>{{opp.oppchq_ddate | dateToFrench }}</td>
                                  <td>{{opp.oppchq_vtype ==='Unsigned' ? 'Vierge' : 'Signé'}}</td>
                                  <td>{{opp.oppchq_inumdeb}}</td>
                                  <td>{{opp.oppchq_inumfin}}</td>
                                  <td>{{opp.oppchq_vmontant}}</td>
                                  <td>{{opp.oppchq_vmotif}}</td>
                                  <td *ngIf="opp.oppchq_vstatus === 'Valid'" style="color: green;">Validé</td>
                                  <td *ngIf="opp.oppchq_vstatus === 'Invalid'" style="color: red;">Non validé</td>
                                  <td *ngIf="opp.oppchq_vstatus === 'Pending'">En attente</td>
                                  <td *ngIf="selectedRowIndex !== i">
                                    <button (click)="toggleConfirm(i)" class="btn btn-danger">
                                       <span class="ti-close"></span>
                                    </button>
                                 </td>
                                 <td *ngIf="selectedRowIndex === i">
                                    <button (click)="cancel()" class="btn btn-primary">
                                       Annuler
                                    </button><br/><br/>
                                    <button (click)="confirmDelete(opp.oppchq_iid )" class="btn btn-danger">
                                       Supprimer
                                    </button>
                                 </td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- 2-1 block end -->
       </div>
       <!-- Main content ends -->
    </div>
 </div>