<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid" style="height: 700px;">
       <div class="row">
          <div class="main-header">
             <h4>Virement</h4>
             <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item">
                   <a href="index.html">
                      <i class="ti-user"></i>
                   </a>
                </li>
                <li class="breadcrumb-item"><a href="#">Virement</a>
                </li>
                <li class="breadcrumb-item"><a href="basic-table.html">Liste</a>
                </li>
             </ol>
          </div>
          <div class="col-xl-12 col-lg-12">
          <div class="card">
             <div class="card-header">
                <form class="form-inline" style="text-align: right;">
                <h5 style="float: left;">Liste des virements effectués</h5>
                   <div class="form-group m-r-15">
                      <input type="text" class="form-control" placeholder="Rechercher...">
                   </div>
                   <button type="button" class="btn btn-inverse-success waves-effect">OK
                   </button>
                </form>
                <br/>
                <form action="">
                  <select class="form-control" style="width:300px" name="compte" [(ngModel)]="selectedCompte" [ngModelOptions]="{standalone: true}">
                     <option *ngFor="let compte of comptes" [value]="compte.cpt_vcode" >{{compte.cpt_vlib}}</option>
                  </select>
                </form>
             </div>
             <div class="card-block">
                <div class="row">
                   <div class="col-sm-12 table-responsive">
                      <table class="table">
                         <thead>
                            <tr>
                               <th>#</th>
                               <th>Compte émetteur</th>
                               <th>Bénéficiaire</th>
                               <th>Montant en MGA</th>
                               <th>Date d'exécution</th>
                               <th>Etat</th>
                               <th style="text-align: center;">Action</th>
                            </tr>
                         </thead>
                         <tbody >
                              <tr *ngFor="let virement of virements" [class.table-danger]="virement.vir_ivalid==0">
                                 <td></td>
                                 <td>{{virement.vir_vbanque}} {{virement.vir_vbranche}} {{virement.vir_vcode}}</td>
                                 <td>{{virement.vir_vnom_benef}} {{virement.vir_vprenom_benef}}</td>
                                 <td>{{virement.vir_fmontant }}</td>
                                 <td>{{virement.vir_ddate}}</td>
                                 <td *ngIf="virement.vir_ivalid==0"><span class="tag tag-danger">Non validé</span></td>
                                 <td *ngIf="virement.vir_ivalid>0"><span class="tag tag-success" >Validé</span></td>
                              </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
          </div>
       </div>
       </div>
    </div>
 </div>
 <!-- Main content ends -->