<div class="wrapper">
    <!-- Navbar-->
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <!-- Main content starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="main-header">
                    <h3>Paramètres</h3>
                </div>
            </div>
            <!-- 4-blocks row start -->

            <!-- 4-blocks row end -->
            <!-- 2-1 block start -->
            <div class="row">
                <!-- Multiple Open Accordion start -->
                <div class="col-lg-5 col-md-5 col-sm-3">
                    <div class="card">
                        <div class="card-block accordion-block">
                            <div id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingOne">
                                        <h3 class="card-title accordion-title">
                                            <a routerLink="../pwd" class="accordion-msg scale_active">
                                                Changer votre code pin
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="accordion-panel">
                                    <div class="accordion-heading" role="tab" id="headingTwo">
                                        <h3 class="card-title accordion-title">
                                            <a routerLink="../add-email" class="accordion-msg scale_active">
                                                Ajouter une adresse e-mail
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Multiple Open Accordion ends -->
                <div class="col-lg-6">
                    <div class="card">
                       <div class="card-header">
                          <h5 class="card-header-text">Modifications</h5>
                       </div>

                       <div class="card-block">
                          <form [formGroup]="pinChangeForm">
                             <div class="form-group">
                                <label for="exampleInputPassword1" class="form-control-label">Code PIN actuel</label>
                                <input formControlName="currentPin" type="password" class="form-control" id="exampleInputPassword1" placeholder="PIN">
                             </div>
                             <div class="form-group">
                                <label for="exampleInputPassword1" class="form-control-label">Nouveau Code PIN</label>
                                <input formControlName="newPin1" type="password" class="form-control" id="exampleInputPassword1" placeholder="PIN">
                             </div>
                             <div class="form-group">
                                <label for="exampleInputPassword1" class="form-control-label">Confirmer le nouveau Code PIN</label>
                                <input formControlName="newPin2" type="password" class="form-control" id="exampleInputPassword1" placeholder="PIN">
                             </div>
                             <button type="submit" (click)="changeMdp()" class="btn btn-success waves-effect waves-light m-r-30">Submit</button>
                          </form>
                       </div>
                       <div class="row" *ngIf="unmatchingPin ===true">
                        <div class="col-lg-11">
                         <div class="form-group row justify-content-end">
                           <div class="col-md-6">
                              <h6 style="color:red">Veuillez bien vérifier les données saisies.</h6>
                           </div>
                        </div>
                      </div>
                     </div>
                     <div class="row" *ngIf="ok ===true">
                        <div class="col-lg-11">
                         <div class="form-group row justify-content-end">
                           <div class="col-md-6">
                              <h6 style="color:green">Code PIN a été mis à jour.</h6>
                           </div>
                        </div>
                      </div>
                     </div>
                    </div>
                 </div>
            </div>
        </div>
        <!-- Main content ends -->
    </div>
</div>