<div class="wrapper">
    <!-- Navbar-->
    <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid">
          <div class="row">
             <div class="main-header">
                <h3>Transactions effectuées</h3>
             </div>
          </div>

          <div class="row">
             <div class="main-header">
                <h5>Dernières transactions</h5>
             </div>
          </div>
          <div class="row col-xl-4 col-md-6 col-sm-4" style="margin-bottom: 10px;">
            <select class="form-control select-cpt" id="exampleSelect1">
               <option>DAV Riana Rahajary</option>
               <option>EPR Riana Rahajary</option>
           </select>
          </div>
          <form>
            <div class="row">
              <div class="col-lg-6">
               <div class="form-group row">
                  <div class="col-md-1"><label for="InputNormal" class="form-control-label">Entre:</label></div>
                  <div class="col-md-3">                        
                     <input type="date" class="form-control form-control-sm" placeholder="00000">
                  </div>
                  <div class="col-md-1"><label for="InputNormal" class="form-control-label">Et:</label></div>
                  <div class="col-md-3">                        
                     <input type="date" class="form-control form-control-sm" placeholder="00000">
                  </div>
                  <div class="col-md-3">
                  <button type="submit" style="margin-right: 10px;" class="btn btn-success">Rechercher</button>
                  </div>
                 </div>

              </div>
           </div>
           </form>

          <div class="row">
             <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header" style="background-color: #ebeff258;">
                        <h6>Interval {{transactions[0].trans_ddate | dateToFrench }} - {{transactions[transactions.length-1].trans_ddate | dateToFrench}}</h6>
                     </div>
                   <div class="card-block">
                      <div class="table-responsive">
                         <table class="table table-hover">
                            <thead>
                               <tr>
                                  <th>N°</th>
                                  <th>Date  <span><i class="ti-arrows-vertical" (click)="toggleReverse()"></i></span></th>
                                  <th>
                                    <select class="form-control form-control-sm" [(ngModel)]="selectedTypeFilter" (ngModelChange)="filterTypeTransactions()">
                                        <option value="">Type</option>
                                        <option value="">Tous</option>
                                        <option value="VIR">Virement</option>
                                        <option value="DEP">Dépôt</option>
                                        <option value="RET">Retrait</option>
                                    </select>
                                  </th>
                                  <th>Montant</th>
                                  <th>Description</th>
                                  <th>Status</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let trans of filteredTransactions | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage}">
                                  <td>{{trans.trans_vnum}}</td>
                                  <td>{{trans.trans_ddate | dateToFrench }}</td>
                                  <td>{{trans.typetrans_vlibelle}}</td>
                                  <td>{{transform(trans.trans_vmontant)}} Ar</td>
                                  <td>{{trans.trans_vdescript}}</td>
                                  <td [style]="trans.trans_vstatus==='Valid'? 'color:green' : 'color:red' ">{{trans.trans_vstatus}}</td>
                               </tr>
                            </tbody>
                         </table>
                         <pagination-controls class="pagination" [maxSize]="30" style="float:left" (pageChange)="currentPage = $event"></pagination-controls>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- 2-1 block end -->
       </div>
       <!-- Main content ends -->
    </div>
 </div>