.login {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: #2196F3;  */
    background-color: #e1e7e9; 
  }
  .btn-inverse-default {
    background-color: #FFFFFF;
    border-color: #757575;
    color: #4b4b4b;
    height: 35px;
    width: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color linear 0.4s;
    -moz-transition: border-color linear 0.4s;
    -ms-transition: border-color linear 0.4s;
    transition: border-color linear 0.4s; 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

    .btn-inverse-default:hover {
      border-color: #d43939;
      color: #d43939; }
    .button-list-c{
        text-align: center;
    }  