<div class="wrapper">
    <!-- Navbar-->
    <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid">
          <div class="row">
             <div class="main-header">
                <h3>Historique de commande de chéquier</h3>
             </div>
          </div>
          <div class="row col-xl-4 col-md-12 col-sm-12" style="margin-bottom: 20px;">
            <select class="form-control select-cpt" id="exampleSelect1">
               <option>Votre compte DAV</option>
           </select>
          </div>
          <div class="row">
             <div class="col-xl-12 col-lg-12">
                <div class="card">
                   <div class="card-block">
                      <div class="table-responsive">
                         <table class="table table-hover">
                            <thead>
                               <tr class="text-uppercase">
                                  <th>N°</th>
                                  <th>Date  <span><i class="ti-arrows-vertical" (click)="toggleReverse()"></i></span></th>
                                  <th>Type de chéquier</th>
                                  <th>Agence de récupération</th>
                                  <th>Statut</th>
                                  <th>Action</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let demande of demandesChequier;let i=index">
                                  <td>{{demande.demchq_iid}}</td>
                                  <td>{{demande.demchq_ddate | dateToFrench}}</td>
                                  <td>{{demande.typechq_vlibelle}} - {{demande.demchq_vnbpage}} pages - x{{demande.demchq_inbcarnet}}</td>
                                  <td>{{demande.branche_vnom}}</td>
                                  <td>{{demande.demchq_vdescript}}</td>
                                  <td *ngIf="selectedRowIndex !== i">
                                    <button (click)="toggleConfirm(i)" class="btn btn-danger">
                                       <span class="ti-close"></span>
                                    </button>
                                 </td>
                                 <td *ngIf="selectedRowIndex === i">
                                    <button (click)="cancel()" class="btn btn-primary">
                                       Annuler
                                    </button><br/><br/>
                                    <button (click)="confirmDelete(demande.demchq_iid )" class="btn btn-danger">
                                       Supprimer
                                    </button>
                                 </td>
                               </tr>
                               <tr *ngIf="isLoading">
                                 <td>
                                    <h6>Chargement ...</h6>
                                 </td>
                              </tr>
                              <tr *ngIf="isEmpty">
                                 <td>
                                    <h6>Aucune donnée</h6>
                                 </td>
                              </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- 2-1 block end -->
       </div>
       <!-- Main content ends -->
    </div>
 </div>