<div class="wrapper">
    <!-- Navbar-->
    <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid">
          <div class="row">
             <div class="main-header">
                <h3>Historique de commande de chéquier</h3>
             </div>
          </div>
          <div class="row col-xl-4 col-md-12 col-sm-12" style="margin-bottom: 20px;">
            <select class="form-control select-cpt" id="exampleSelect1">
               <option>DAV Riana Rahajary</option>
               <option>EPR Riana Rahajary</option>
           </select>
          </div>
          <div class="row">
             <div class="col-xl-12 col-lg-12">
                <div class="card">
                   <div class="card-block">
                      <div class="table-responsive">
                         <table class="table table-hover">
                            <thead>
                               <tr class="text-uppercase">
                                  <th>N°</th>
                                  <th>Date</th>
                                  <th>Type de chéquier</th>
                                  <th>Nombre de page</th>
                                  <th>Nombre de carnet</th>
                                  <th>Agence de récupération</th>
                                  <th>Statut</th>
                               </tr>
                            </thead>
                            <tbody>
                               <tr *ngFor="let demande of demandesChequier">
                                  <td>{{demande.demchq_iid}}</td>
                                  <td>{{demande.demchq_ddate}}</td>
                                  <td>{{demande.demchq_itypechq}}</td>
                                  <td>{{demande.demchq_vnbpage}}</td>
                                  <td>{{demande.demchq_inbcarnet}}</td>
                                  <td>{{demande.demchq_branche_recupiid}}</td>
                                  <td>{{demande.demchq_istatus}}</td>
                                  <td style="color: green;"></td>
                               </tr>
                            </tbody>
                         </table>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- 2-1 block end -->
       </div>
       <!-- Main content ends -->
    </div>
 </div>