<div class="wrapper">
   <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid" style="height: 700px;">
           <div class="row">
               <div class="main-header">
                  <h3>Opposition à un chèque</h3>
               </div>
            </div>
            <form [formGroup]="oppositionChequierForm">
             <!-- Form Control starts -->
             <div class="row">
               <div class="col-lg-11">
                  <div class="card">
                     <div class="card-header" style="background-color: #ebeff258;">
                        <h5>Effectuer une opposition à un chèque ou un chèquier</h5>
                     </div>
                     <div class="card-block">
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Compte correspondant :</label></div>
                           <div class="col-md-5">                        
                              <select formControlName="oppchq_cpt_iid" class="form-control form-control-sm">
                                 <option value="">Séléctionner le compte correspondant</option>
                                 <option [value]="compte.cpt_iid" *ngFor="let compte of comptes">
                                    <ng-container *ngIf="compte.cpt_vtype == 1">
                                       DAV | {{compte.banque_vcode}} {{compte.branche_vcode}} {{compte.cpt_vcode}} {{compte.cpt_vclerib}}
                                    </ng-container>
                                 </option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
             <div class="row">
               <div class="col-lg-11">
                  <div class="card">
                     <div class="card-block">
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Type d'opposition :</label></div>
                           <div class="col-md-3">                        
                              <select formControlName="oppchq_vtype" [(ngModel)]="selectedTypeCheque" class="form-control form-control-sm">
                                 <option value="Signed">Chèque signé</option>
                                 <option value="Unsigned">Chèque vierge</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Numéro du chèque :</label></div>
                           <div class="row">
                              <div class="col-md-2">                        
                                 <input formControlName="oppchq_inumdeb" type="text" class="form-control form-control-sm" placeholder="00000"/>
                              </div>
                              <div  *ngIf="selectedTypeCheque === 'Unsigned' ">
                                 <div class="col-md-1">
                                    <label class="form-control-label">à :</label>
                                 </div>
                                 <div class="col-md-2"> <!-- Adjust the column width as needed -->
                                    <input formControlName="oppchq_inumfin" type="text" class="form-control form-control-sm" placeholder="00000"/>
                                 </div>
                              </div>
                          </div>
                        </div>
                        <div class="form-group row" *ngIf="selectedTypeCheque === 'Signed' ">
                           <div class="col-md-3"><label for="InputNormal" class="form-control-label">Montant<span style="color: red;"></span> :</label></div>
                           <div class="col-md-3">                        
                              <input formControlName="oppchq_vmontant" type="text" class="form-control form-control-sm" placeholder="00000"> 
                           </div>
                           <div class="col-md-1">Ar</div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Motif :</label></div>
                           <div class="col-md-3">                        
                              <select formControlName="oppchq_vmotif" class="form-control form-control-sm">
                                 <option value="">Séléctionner le motif</option>
                                 <option value="Perte">Perte</option>
                                 <option value="Vol">Vol</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Date de perte :</label></div>
                           <div class="col-md-3">                        
                              <input formControlName="oppchq_dperte" type="date" class="form-control form-control-sm"/>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
            </form>
            <div class="row">
               <div class="col-lg-11">
                <div class="form-group row justify-content-end">
                  <div class="col-md-6">
                    <button type="submit" (click)="onClickOpposition()" style="margin-right: 10px;" class="btn btn-success">Continuer</button>
                    <button type="submit" class="btn btn-inverse-default">Annuler</button>
                  </div>
               </div>
             </div>
            </div>
          </div>
       </div>
    </div>