<div class="wrapper">
   <div class="content-wrapper">
       <!-- Container-fluid starts -->
       <!-- Main content starts -->
       <div class="container-fluid" style="height: 700px;">
           <div class="row">
               <div class="main-header">
                  <h3>Opposition à un chèque</h3>
               </div>
            </div>
            <form>
             <!-- Form Control starts -->
             <div class="row">
               <div class="col-lg-11">
                  <div class="card">
                     <div class="card-header" style="background-color: #ebeff258;">
                        <h5>Effectuer une opposition à un chèque ou un chèquier</h5>
                     </div>
                     <div class="card-block">
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Compte correspondant :</label></div>
                           <div class="col-md-3">                        
                              <select class="form-control">
                                 <option>DAV Riana</option>
                              </select>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
             <div class="row">
               <div class="col-lg-11">
                  <div class="card">
                     <div class="card-block">
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Opposition à :</label></div>
                           <div class="col-md-3">                        
                              <select class="form-control form-control-sm">
                                 <option>Un chèque</option>
                                 <option>Un chèquier</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Numéro du chèque :</label></div>
                           <div class="col-md-3">                        
                              <input type="text" class="form-control form-control-sm" placeholder="00000"/>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label for="InputNormal" class="form-control-label">Montant<span style="color: red;">*</span> :</label></div>
                           <div class="col-md-3">                        
                              <input type="text" class="form-control form-control-sm" placeholder="00000"> 
                           </div>
                           <div class="col-md-1">Ar</div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Motif :</label></div>
                           <div class="col-md-3">                        
                              <select class="form-control form-control-sm">
                                 <option>Perte</option>
                                 <option>Vol</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-3"><label class="form-control-label">Date de perte :</label></div>
                           <div class="col-md-3">                        
                              <input type="date" class="form-control form-control-sm"/>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
             </div>
            </form>
            <div class="row">
               <div class="col-lg-11">
                <div class="form-group row justify-content-end">
                  <div class="col-md-6">
                    <button type="submit" style="margin-right: 10px;" class="btn btn-success">Continuer</button>
                    <button type="submit" class="btn btn-inverse-default">Annuler</button>
                  </div>
               </div>
             </div>
            </div>
          </div>
       </div>
    </div>