<div class="wrapper">
<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid" style="height: 700px;">
        <div class="row">
            <div class="main-header">
               <h3>Virement</h3>
            </div>
         </div>
         <form [formGroup]="virementForm">
          <!-- Form Control starts -->
          <div class="row">
            <div class="col-lg-11">
               <div class="card">
                  <div class="card-header" style="background-color: #ebeff258;">
                     <h5>Mise en place d'un virement</h5>
                  </div>
                  <div class="card-block">
                     <div class="form-group row">
                        <div class="col-md-2"><label class="form-control-label">Type de virement :</label></div>
                        <div class="col-md-5">                        
                           <select formControlName="type_virement" [(ngModel)]="selectedTypeVirement" class="form-control form-control-sm">
                              <option value="">Séléctionner le type de virement</option>
                              <option value="VirementUnique">Virement unique</option>
                              <option value="VirementPermanent">Virement permanent</option>
                           </select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-11">
               <div class="card">
                  <div class="card-block">
                     <div class="form-group row">
                        <div class="col-md-2"><label for="InputNormal" class="form-control-label">Compte à débiter :</label></div>
                        <div class="col-md-5">                        
                           <select formControlName="cpt_iid" class="form-control form-control-sm">
                              <option value="">Séléctionner le compte à débiter</option>
                              <option [value]="compte.cpt_iid" *ngFor="let compte of comptes">{{compte.cpt_vtype == 1 ? 'DAV' : 'EPR'}} | {{compte.banque_vcode}} {{compte.branche_vcode}} {{compte.cpt_vcode}} {{compte.cpt_vclerib}}</option>
                           </select>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-md-2">
                           <label for="InputNormal" class="form-control-label">Compte à créditer:</label>
                           <p>(Parmis vos bénéficiaires)</p>

                        </div>
                        <div class="col-md-8">                        
                           <select formControlName="ben_iid" class="form-control form-control-sm">
                              <option value="">Séléctionner un bénéficiaire</option>
                              <option [value]="beneficiaire.ben_iid" *ngFor="let beneficiaire of beneficiaires">
                                 {{beneficiaire.ben_vnom}} | {{beneficiaire.banque_vcode}} {{beneficiaire.branche_vcode}} {{beneficiaire.ben_vnumcpt}} {{beneficiaire.ben_vclerib}} </option>
                           </select>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-md-2"><label for="InputNormal" class="form-control-label">Montant:</label></div>
                        <div class="col-md-3">                        
                           <input formControlName="trans_vmontant" type="number" class="form-control form-control-sm" placeholder="">
                           <p *ngIf="virementForm.get('trans_vmontant')?.invalid" style="color: red;">
                              <small *ngIf="virementForm.get('trans_vmontant')?.hasError('min')">Montant invalide.</small>
                              <small *ngIf="virementForm.get('trans_vmontant')?.hasError('pattern')">Montant invalide.</small>
                              <small *ngIf="virementForm.get('trans_vmontant')?.hasError('max')">Montant invalide.</small>
                            </p>
                        </div>
                        <div class="col-md-1">Ar</div>
                     </div>
                     <div class="form-group row">
                        <div class="col-md-2"><label for="InputNormal" class="form-control-label">Description:</label></div>
                        <div class="col-md-6">                        
                           <input formControlName="trans_vdescript" type="text" class="form-control form-control-sm" placeholder="Description de la transaction ici">
                        </div>
                     </div>
                     <ng-container *ngIf="selectedTypeVirement==='VirementPermanent'">
                        <div class="form-group row">
                           <div class="col-md-2"><label for="InputNormal" class="form-control-label">Fréquence d'execution:</label></div>
                           <div class="col-md-5">                        
                              <select formControlName="frequence" class="form-control form-control-sm">
                                 <option value="">Séléctionner la fréquence d'exécution</option>
                                 <option value="Bimensuel">Bimensuel (1er et 15ème du mois)</option>
                                 <option value="Mensuel">Mensuel (1er du mois)</option>
                                 <option value="Trimestriel">Trimestriel (Tous les 1er du mois)</option>
                              </select>
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-2"><label for="InputNormal" class="form-control-label">Date début:</label></div>
                           <div class="col-md-6">                        
                              <input formControlName="debut" type="date" class="form-control form-control-sm" placeholder="00000">
                           </div>
                        </div>
                        <div class="form-group row">
                           <div class="col-md-2"><label for="InputNormal" class="form-control-label">Date fin:</label></div>
                           <div class="col-md-6">                        
                              <input formControlName="fin" type="date" class="form-control form-control-sm" placeholder="00000">
                           </div>
                        </div>
                     </ng-container>
                  </div>
               </div>
            </div>
         </div>
         <div class="row" *ngIf="isNotFilled ===true">
            <div class="col-lg-11">
             <div class="form-group row justify-content-end">
               <div class="col-md-6">
                  <h6 style="color:red">Veuiller bien remplir les champs.</h6>
               </div>
            </div>
          </div>
         </div>
          <div class="row">
            <div class="col-lg-11">
             <div class="form-group row justify-content-end">
               <div class="col-md-6">
                 <button (click)="onSubmit()" type="submit" style="margin-right: 10px;" class="btn btn-success">Continuer</button>
               </div>
            </div>
          </div>
         </div>
         </form>
       </div>
    </div>
 </div>
 <!-- Main content ends -->