<div class="content-wrapper">
    <!-- Container-fluid starts -->
    <!-- Main content starts -->
    <div class="container-fluid" style="height: 700px;">
       <div class="row">
          <div class="col-sm-12 p-0">
             <div class="main-header" style="margin-top: 0px;">
                <h4>Virement en ligne</h4>
                <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                   <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                   </li>
                   <li class="breadcrumb-item"><a href="#">Virement</a>
                   </li>
                   <li class="breadcrumb-item"><a href="form-elements-bootstrap.html">Externe</a>
                   </li>
                </ol>
             </div>
          </div>
       </div>
       <div class="row">
         <form [formGroup]="virementForm" (ngSubmit)="addVirement()">
          <!-- Form Control starts -->
          <div class="col-lg-6">
             <div class="card">
                <div class="card-header" style="background-color: #ebeff258;">
                   <h5 style="float: left;">Compte à débiter</h5>
                </div>
                <div class="card-block">
                      <div class="form-group">
                         <h6>Choisir le compte retrait <span style="color: red;">*</span> </h6>
                         <select class="form-control" formControlName="senderForm" [(ngModel)]="selectedSender">
                            <option *ngFor="let solde of soldes" [value]="solde.cpt_vcode">{{solde.cpt_vcode}} - {{solde.cpt_vlib}}
                               <span style="text-align: right;">- Solde disponible: {{solde.cpt_fsolde}}</span>
                            </option>
                         </select>
                      </div>
                </div>
             </div>
          </div>
          <!-- Form Control ends -->
          <!-- Textual inputs starts -->
          <div class="col-lg-6">
             <div class="card">
                <div class="card-header" style="background-color: #ebeff258;">
                   <h5>Compte à créditer</h5>
                </div>
                <!-- end of modal -->
                <div class="card-block">
                      <div class="form-group" *ngIf="!beneficiaireManuel">
                         <h6>Choisir parmis vos bénéficiaires <span style="color: red;">*</span></h6>
                         <select *ngIf="beneficiaires.length" formControlName="receiverForm" [(ngModel)]="selectedReceiver" class="form-control " id="exampleSelect1">
                            <option *ngFor=" let beneficiaire of beneficiaires" [value]="beneficiaire.ben_vcodecpt">{{beneficiaire.ben_vnom}} - {{beneficiaire.ben_vcodecpt}}</option>
                         </select>
                         <select *ngIf="!beneficiaires.length && !loading" class="form-control ">
                            <option>Aucun bénéficiaire</option>
                         </select>
                         <select *ngIf="!beneficiaires.length && loading" class="form-control ">
                            <option>Chargement...</option>
                         </select>
                      </div>
                      <div class="form-group" style="text-align: right;">
                         <a routerLink="/beneficiaire-nouveau">
                            <h6>+ Ajouter un bénéficiaire</h6>
                         </a>
                      </div>
                      <div class="form-group">
                         <h6>Montant en Ariary <span style="color: red;">*</span></h6>
                         <input formControlName="montantForm" type="text" class="form-control" placeholder="Ex: 100 000">
                      </div>
                      <div class="form-group">
                         <h6>Motif</h6>
                         <input formControlName="motifForm" type="text" class="form-control" placeholder="Motif">
                      </div>
                      <div class="form-group">
                         <h6>Date d'exécution <span style="color: red;">*</span></h6>
                         <input formControlName="dateForm" class="form-control" type="date" value="ASAP" id="example-date-input">
                      </div>
                </div>
             </div>
             <button type="submit" class="btn btn-success waves-effect waves-light m-r-30">Valider</button>
          </div>
          <!-- Textual inputs ends -->
         </form>
       </div>
    </div>
 </div>
 <!-- Main content ends -->