<div class="content-wrapper">
   <!-- Container-fluid starts -->
   <!-- Main content starts -->
   <div class="container-fluid" style="height: 700px;">
      <div class="row">
         <div class="main-header">
            <h4>Bénéficiaires</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
               <li class="breadcrumb-item">
                  <a href="index.html">
                     <i class="ti-user"></i>
                  </a>
               </li>
               <li class="breadcrumb-item"><a href="#">Bénéficiaires</a>
               </li>
               <li class="breadcrumb-item"><a href="basic-table.html">Liste</a>
               </li>
            </ol>
         </div>
         <div class="col-xl-12 col-lg-12">
            <div class="card">
               <div class="card-header">
                  <form [formGroup]="searchForm" (ngSubmit)="searchBeneficiaire(termNgModel)" class="form-inline"
                     style="text-align: right;">
                     <h5 style="float: left;">Liste de mes bénéficiaires</h5>
                     <div class="form-group m-r-15">
                        <input formControlName="term" [(ngModel)]="termNgModel" type="text" class="form-control"
                           placeholder="Rechercher...">
                     </div>
                     <button type="button" class="btn btn-inverse-success waves-effect">OK
                     </button>
                  </form>
               </div>
               <div class="card-block">
                  <div class="row">
                     <div class="col-sm-12 table-responsive">
                        <div class="row">
                           <div class="col-lg-12">
                                 <ul class="nav nav-tabs tabs" role="tablist">
                                    <li class="nav-item" style="width:150px">
                                       <a class="nav-link custom-nav-link active" data-toggle="tab" href="#tous" role="tab"
                                          aria-expanded="true">
                                          <h6 class="h6-c">
                                            <i class="icofont icofont-navigation-menu"></i> 
                                               Tous
                                            </h6>
                                         </a>
                                    </li>
                                    <li class="nav-item" style="width:150px">
                                       <a class="nav-link custom-nav-link" data-toggle="tab" href="#valide" role="tab"
                                          aria-expanded="false">
                                          <h6 class="h6-c">
                                            <i class="icofont icofont-check-alt green"></i> 
                                            Validés
                                         </h6>
                                         </a>
                                    </li>
                                    <li class="nav-item" style="width:150px">
                                       <a class="nav-link custom-nav-link" data-toggle="tab" href="#nonvalide" role="tab"
                                          aria-expanded="false">
                                          <h6 class="h6-c">
                                            <i class="icofont icofont-close-circled red"></i> 
                                            Non validés
                                         </h6>
                                         </a>
                                    </li>
                                 </ul>
                              <!-- Tab panes -->
                              <div class="tab-content tabs">
                                 <div class="tab-pane active" id="tous" role="tabpanel" aria-expanded="true">
                                    <table class="table">
                                       <thead>
                                          <tr>
                                             <th>Nom</th>
                                             <th>Prénom</th>
                                             <th>Code banque</th>
                                             <th>Code agence</th>
                                             <th>N° compte</th>
                                             <th>État validation</th>
                                             <th style="text-align: center;">Action</th>
                                          </tr>
                                       </thead>
                                       <tbody *ngIf="beneficiaires.length">
                                          <tr *ngFor="let beneficiaire of beneficiaires"
                                             [class.table-danger]="beneficiaire.ben_istatut==0">
                                             <td>{{beneficiaire.ben_vnom | uppercase}}</td>
                                             <td>{{beneficiaire.ben_vprenom}}</td>
                                             <td>{{beneficiaire.ben_vbanquecpt}}</td>
                                             <td>{{beneficiaire.ben_vbranchecpt}}</td>
                                             <td>{{beneficiaire.ben_vcodecpt}}</td> 
                                             <!-- <td>{{beneficiaire.ben_vcodecpt.slice(0,7)+'xxxx'}}</td> -->
                                             <td *ngIf="beneficiaire.ben_istatut==0"><span class="tag tag-danger">Non
                                                   validé</span></td>
                                             <td *ngIf="beneficiaire.ben_istatut==1"><span
                                                   class="tag tag-success">Validé</span></td>
                                             <td style="text-align: center;">
                                                <button *ngIf="beneficiaire.ben_istatut==0" type="button"
                                                   class="btn btn-primary waves-effect waves-light">
                                                   <i class="ti-pencil"></i>
                                                </button>
                                                <button type="button"
                                                   (click)="deleteBeneficiaire(beneficiaire.ben_iindex)"
                                                   class="btn btn-danger waves-effect waves-light">
                                                   <i class="ti-close"></i>
                                                </button>
                                             </td>
                                          </tr>
                                       </tbody>
                                       <tbody *ngIf="!beneficiaires.length && !loading">
                                          <tr>
                                             <td colspan="7" style="text-align: center; vertical-align: middle;">
                                                <a routerLink="/beneficiaire-nouveau">
                                                   <h6 style="margin-top:30px;">+ Ajouter un bénéficiaire</h6>
                                                </a>
                                             </td>
                                          </tr>
                                       </tbody>
                                       <tbody *ngIf="loading">
                                          <tr>
                                             <td colspan="7" style="text-align: center; vertical-align: middle;">
                                                <h6 style="margin-top:30px;">Chargement...</h6>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>

                                 <div class="tab-pane" id="valide" role="tabpanel" aria-expanded="false">
                                    <table class="table">
                                       <thead>
                                          <tr>
                                             <th>Nom</th>
                                             <th>Prénom</th>
                                             <th>Code banque</th>
                                             <th>Code agence</th>
                                             <th>N° compte</th>
                                             <th>État validation</th>
                                             <th style="text-align: center;">Action</th>
                                          </tr>
                                       </thead>
                                       <tbody *ngIf="beneficiaires.length">
                                          <tr *ngFor="let beneficiaire of beneficiaires"
                                             [class.table-danger]="beneficiaire.ben_istatut==0">
                                             <ng-container *ngIf="beneficiaire.ben_istatut>0">
                                                <td>{{beneficiaire.ben_vnom | uppercase}}</td>
                                                <td>{{beneficiaire.ben_vprenom}}</td>
                                                <td>{{beneficiaire.ben_vbanquecpt}}</td>
                                                <td>{{beneficiaire.ben_vbranchecpt}}</td>
                                                <td>{{beneficiaire.ben_vcodecpt}}</td>
                                                <!-- <td>{{beneficiaire.ben_vcodecpt.slice(0,7)+'xxxx'}}</td> -->
                                                <td *ngIf="beneficiaire.ben_istatut==0"><span class="tag tag-danger">Non
                                                      validé</span></td>
                                                <td *ngIf="beneficiaire.ben_istatut==1"><span
                                                      class="tag tag-success">Validé</span></td>
                                                <td style="text-align: center;">
                                                   <button *ngIf="beneficiaire.ben_istatut==0" type="button"
                                                      class="btn btn-primary waves-effect waves-light">
                                                      <i class="ti-pencil"></i>
                                                   </button>
                                                   <button type="button"
                                                      (click)="deleteBeneficiaire(beneficiaire.ben_iindex)"
                                                      class="btn btn-danger waves-effect waves-light">
                                                      <i class="ti-close"></i>
                                                   </button>
                                                </td>
                                             </ng-container>
                                          </tr>
                                       </tbody>
                                       <tbody *ngIf="!beneficiaires.length && !loading">
                                          <tr>
                                             <td colspan="7" style="text-align: center; vertical-align: middle;">
                                                <a routerLink="/beneficiaire-nouveau">
                                                   <h6 style="margin-top:30px;">+ Ajouter un bénéficiaire</h6>
                                                </a>
                                             </td>
                                          </tr>
                                       </tbody>
                                       <tbody *ngIf="loading">
                                          <tr>
                                             <td colspan="7" style="text-align: center; vertical-align: middle;">
                                                <h6 style="margin-top:30px;">Chargement...</h6>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                                 <div class="tab-pane" id="nonvalide" role="tabpanel" aria-expanded="false">
                                    <table class="table">
                                       <thead>
                                          <tr>
                                             <th>Nom</th>
                                             <th>Prénom</th>
                                             <th>Code banque</th>
                                             <th>Code agence</th>
                                             <th>N° compte</th>
                                             <th>État validation</th>
                                             <th style="text-align: center;">Action</th>
                                          </tr>
                                       </thead>
                                       <tbody *ngIf="beneficiaires.length">
                                          <tr *ngFor="let beneficiaire of beneficiaires"
                                             [class.table-danger]="beneficiaire.ben_istatut==0">
                                             <ng-container *ngIf="beneficiaire.ben_istatut==0">
                                                <td>{{beneficiaire.ben_vnom | uppercase}}</td>
                                                <td>{{beneficiaire.ben_vprenom}}</td>
                                                <td>{{beneficiaire.ben_vbanquecpt}}</td>
                                                <td>{{beneficiaire.ben_vbranchecpt}}</td>
                                                <td>{{beneficiaire.ben_vcodecpt}}</td>
                                                <!-- <td>{{beneficiaire.ben_vcodecpt.slice(0,7)+'xxxx'}}</td> -->
                                                <td *ngIf="beneficiaire.ben_istatut==0"><span class="tag tag-danger">Non
                                                      validé</span></td>
                                                <td *ngIf="beneficiaire.ben_istatut==1"><span
                                                      class="tag tag-success">Validé</span></td>
                                                <td style="text-align: center;">
                                                   <button *ngIf="beneficiaire.ben_istatut==0" type="button"
                                                      class="btn btn-primary waves-effect waves-light">
                                                      <i class="ti-pencil"></i>
                                                   </button>
                                                   <button type="button"
                                                      (click)="deleteBeneficiaire(beneficiaire.ben_iindex)"
                                                      class="btn btn-danger waves-effect waves-light">
                                                      <i class="ti-close"></i>
                                                   </button>
                                                </td>
                                             </ng-container>
                                          </tr>
                                       </tbody>
                                       <tbody *ngIf="!beneficiaires.length && !loading">
                                          <tr>
                                             <td colspan="7" style="text-align: center; vertical-align: middle;">
                                                <a routerLink="/beneficiaire-nouveau">
                                                   <h6 style="margin-top:30px;">+ Ajouter un bénéficiaire</h6>
                                                </a>
                                             </td>
                                          </tr>
                                       </tbody>
                                       <tbody *ngIf="loading">
                                          <tr>
                                             <td colspan="7" style="text-align: center; vertical-align: middle;">
                                                <h6 style="margin-top:30px;">Chargement...</h6>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Main content ends -->